#root {
  margin: 0 auto;
  text-align: center;
  background-color: #dbdbcc;
  color: #080807;
  background-image: url("/noise.png");
}

@keyframes titleIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes squareIn {
  from {
    height: 100vh;
    width: 100vw;
  }

  to {
    height: 41vw;
    width: 35vw;
  }
}

@keyframes fadeIn {
  from {
    height: 100vh;
    width: 100vw;
  }

  to {
    height: 42vw;
    width: 35vw;
  }
}

